# Created by https://www.toptal.com/developers/gitignore/api/laravel
# Edit at https://www.toptal.com/developers/gitignore?templates=laravel

### Laravel ###
.env
/bootstrap/cache/*
/storage/*.key
/vendor/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Cache and Logs
/storage/app/*
!/storage/app/public
/storage/app/private/*
!/storage/app/private/.gitignore
/storage/backups/*
/storage/preflight_check.php
/storage/create_backup.php
/.phpunit.result.cache
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log

# Compiled assets
/public/build
/public/hot
/public/storage

# Node dependencies
/node_modules/

# Yarn - http://yarnpkg.com/
.yarn-integrity
.yarn-metadata.json
.yarnclean
yarn-error.log

# End of https://www.toptal.com/developers/gitignore/api/laravel
